<!DOCTYPE html>
<html>

<head>
  <title>Decompose Epic</title>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@atlassian/aui@9.1/dist/aui/aui-prototyping.css" />
  <link rel="stylesheet" type="text/css" href="suggestions.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://connect-cdn.atl-paas.net/all.js"></script>
  <script src="Suggestions.js" defer></script>
</head>

<body>

  <div id="range" class='slidecontainer'>
    <script>
      $(window).on('load',function(){
        populateRange();
      })
    </script>
  </div>

  <div class="buttons">
    <div class="section selectAllMargin">
      <input type="checkbox" id="selectDeselectAll" name="selectDeselectAll" onClick="selectDeselectAllCheckboxes()">
      <label for="selectDeselectAll" class="select-deselect-text">Select/Deselect All</label>
    </div>

    <div class="aui-buttons Right button_margin section">
      <button class="aui-button aui-button-subtle">
        <span class="aui-icon aui-icon-small aui-iconfont-question-circle" id="openDocumentation" onClick="openDocumentation()">
          Open Documentation
        </span>
      </button>
      <button class="aui-button">
        <span class="aui-icon aui-icon-small aui-iconfont-refresh" id="loadSuggestions" onClick="getsuggestions()">
          Reload Suggestions
        </span>
      </button>
      <div class="tooltip">
        <button class="aui-button aui-button-primary" disabled="true" id="createSelected" onClick="createSelectedSuggestions()">
          Create Selected
        </button>
        <span class="tooltiptext">
          Refresh browser to see results
        </span>
      </div>
    </div>
  </div>

  <div class="suggestions" id="suggestions"">

    <script>
      $(window).on('load',function(){
        getsuggestions();
      })
    </script>
  </div>

</body>

</html>